/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
	display: block;
	margin: 0 auto;
	width: 25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


.deck .card
{
	border: solid 1px #aaa;
	border-radius: 9px;
	width: 95px;
	height: 150px;
	float:left;
	background-color: black;
	background-image: url('/images/oldBlank.jpg');
	background-size:contain;
	padding: 3px 3px 3px 3px;
	margin: 5px;
}

.card2
{
	width: 50px;
	padding: 10px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	font-size: 22px;
	text-align: center;
	margin: 3px;
	border:solid 3px;
}

.card .value{
	text-align:center;
	font-size:15pt;
	color:black;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card .suit
{
	background-image: url('/images/suits.png');
	height: 100px;
	width: 90px;
}

.card .spades
{
	background-position-x:95px;
	background-position-y:100px;
}

.card .diamonds
{
	background-position-y: 100px;
	background-position-x: -7px;
}

.card .clubs
{
	background-position-x:-7px;
}

.card .hearts
{
	background-position-x: 295px;
}